<section class="mat-typography">
  <h1 class="flex">
    <button mat-icon-button class="back-btn" routerLink="/members">
      <mat-icon mat-icon>chevron_left</mat-icon>
    </button>
    {{title}} Member
    <button class="detail-edit" [disabled]="editMode" (click)="setEditMode(true)" [hidden]="addMode" mat-button color="accent">Edit
      <mat-icon mat-list-icon style="font-size: 20px">edit</mat-icon>
    </button>
  </h1>
</section>
<form [formGroup]="memberForm" class="flex-container" *ngIf="member" (ngSubmit)="onSubmit()">
  <div class="form-container">
    <mat-form-field>
      <input matInput placeholder="Name" formControlName="name" [value]="member.name" required>
      <!-- <mat-error *ngIf="name.invalid">Name is not valid.</mat-error> -->
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Phone" formControlName="phone" [value]="member.phone" required>
      <!-- <mat-error *ngIf="name.invalid">Name is not valid.</mat-error> -->
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Email" formControlName="email" [value]="member.email" required>
      <!-- <mat-error *ngIf="name.invalid">Name is not valid.</mat-error> -->
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Street" formControlName="street" [value]="member.street" required>
      <!-- <mat-error *ngIf="name.invalid">Name is not valid.</mat-error> -->
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="City" formControlName="city" [value]="member.city" required>
      <!-- <mat-error *ngIf="name.invalid">Name is not valid.</mat-error> -->
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="State" formControlName="state" [value]="member.state" required>
      <!-- <mat-error *ngIf="name.invalid">Name is not valid.</mat-error> -->
    </mat-form-field>
    <!-- <mat-slide-toggle color="accent" formControlName="active" [checked]="member.active">Active</mat-slide-toggle> -->
  </div>
  <button type="submit" *ngIf="editMode || addMode" [disabled]="memberForm.unTouched || !memberForm.valid" mat-raised-button
    color="primary">Save</button>
  <!-- <button type="button" *ngIf="editMode" mat-raised-button color="warn" (click)="openConfirmDialog()">Remove</button> -->
</form>
